/**
 * Cascading Stylesheet
 * snake.css
 */
 html, body { margin: 0 !important; padding: 0 !important; overflow: hidden; }
.center { margin: 0 auto; }

#MyControlButtons { width: 310px; margin-top: -75px; padding-bottom: 15px; }
#MyControlButtons > button:hover { cursor: pointer; background-color: #a3a3c2; }
#MyControlButtons > button { position: relative; padding: 10px; margin-right: 1px; width: 58px; height: 58px; text-align: center; border: none; font-size: 40px; font-weight: bold; background-color: #33334d; box-shadow: 1px 1px 2px 1px rgba(0,0,0,.6); border-radius: 1px; }
#MyControlButtons > button { display: inline; }

#MyControlButtons > button:first-child  { display: block; margin-left: 62px; margin-bottom: 4px; background-image: url("images/ArrowUp.png"); }
#MyControlButtons > button:nth-child(2) { background-image: url("images/ArrowLeft.png"); }
#MyControlButtons > button:nth-child(3) { background-image: url("images/ArrowDown.png"); }
#MyControlButtons > button:nth-child(4) { background-image: url("images/ArrowRight.png"); }
#MyControlButtons > button:last-child   { background-color: #2eb82e; margin-left: 60px; background-image: url("images/PlayButton.png"); }

#MyGameAI { width: 440px; padding-bottom: 4px; }
#MyGameAI > label, #MyGameAI > span:nth-child(2n) { margin-right: 20px; }
